 <footer class="footer d-flex align-items-center">
          <div class="container">
            <p class="text-muted">&copy; BKrafts 2020 | <a href="/customs">Home</a></p>
          </div>
        </footer>
	</body>
</html>